.chat-container {
  width: 90%;
  margin: 0 auto;
  min-height: 85vh;
}

.chat-header {
  font-family: 'Montserrat-B';
  text-align: left;
  color: var(--bs-pText);
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
  height: 9vh;
  background-color: #f4f5f8;
}

.chat-header h2 {
  font-size: 30px;
}

.chat-area {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.chat-card {
  color: black;
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.chat-card-img {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: flex-start;
  min-height: 10vh;
  width: 15%;
}

.chat-card-img img {
  border-radius: 10px 10px 10px 10px;
  width: 50px;
  height: 50px;
}

.chat-card-content {
  margin-left: 20px;
  max-width: 70%;
}

.chat-card-time {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 14px;
}
/* .chat-header{
    font-family: "Montserrat-B";
    font-size: 25px;
    text-align: center;
    margin-left: 150px;
    color: var(--bs-pText);
}

.str-chat__loading-indicator {
  text-align: center;
  margin-top: 15%;
}

.str-chat-channel {
  background-color: #ffffff !important;
}

.str-chat__header-livestream {
  box-shadow: none !important;
  background: transparent;
}

.str-chat__square-button {
  display: none !important;
}

.str-chat__input {
  box-shadow: none !important;
}

.rta__textarea {
  padding: 4px 6px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3 !important;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #24282e !important;
  -webkit-box-shadow: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 16px 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.str-chat__textarea {
  height: 45px !important;
}

.str-chat__input-footer--count {
  margin-top: 4px;
  margin-left: 4px;
}

.footer {
  margin-bottom: 50px;
} */

.bubbleWrapper {
  padding: 2px 2px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width: 20px;
  object-fit: contain;
}
.ownBubble {
  min-width: 60px;
  max-width: 300px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #5b5377;
  border-radius: 16px 16px 0 16px;
  border: 1px solid #443f56;
}
.otherBubble {
  min-width: 60px;
  max-width: 300px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #6c8ea4;
  border-radius: 16px 16px 16px 0;
  border: 1px solid #54788e;
}
.own {
  align-self: flex-end;
}
.other {
  align-self: flex-start;
}
span.own,
span.other {
  font-size: 14px;
  color: grey;
}
