.follow-button {
  --background: var(--bs-sBg);
  color: var(--bs-secondary);
  font-family: 'Montserrat-SB';
}

.follow-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.message-button {
  --background: var(--bs-pBg);
  color: var(--bs-primary);
  font-family: 'Montserrat-B';
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.profileName {
  font-family: 'Montserrat-B';
  color: var(--bs-pText);
  font-size: 25px;
}

.profileStatus {
  font-family: 'Montserrat-SB';
  color: var(--bs-primary);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-heading {
  font-family: 'Montserrat-SB';
  color: var(--bs-pText);
  font-size: 18px;
  text-transform: none;
}

.set-status {
  font-size: 20px;
  border-radius: 15px;
}

.profile-purchases {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.profile-orders {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.notifyCards-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.notifyCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
  width: 100%;
}

.notify-unread{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightblue;
  margin: 0 5px;
}

.notifyCard-content {
  height: 100%;
  margin-left: 20px;
}

.notifyCard-content p {
  margin: 10px 0;
  font-size: 14px;
}

.notify-time {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30%;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}