.follow-button {
  --background: var(--bs-sBg);
  color: var(--bs-secondary);
  font-family: 'Montserrat-SB';
}

.follow-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.message-button {
  --background: var(--bs-pBg);
  color: var(--bs-primary);
  font-family: 'Montserrat-B';
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.profileName {
  font-family: 'Montserrat-B';
  color: var(--bs-pText);
  font-size: 25px;
}

.profileStatus {
  font-family: 'Montserrat-SB';
  color: var(--bs-primary);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-heading {
  font-family: 'Montserrat-SB';
  color: var(--bs-pText);
  font-size: 18px;
  text-transform: none;
}

.set-status {
  font-size: 20px;
  border-radius: 15px;
}

.profile-purchases {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.profile-orders {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.notifyCards-area {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.notifyCard {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 110px;
  /* box-shadow: 0 5px 0 0 #eb445a; */
  /* border-bottom: 3px solid #2dd36f; */
  position: relative;
}

.notifyCard-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifyCard-content {
  max-width: 70%;
  height: 100%;
}

.notifyCard-content p {
  margin: 10px 0;
}

/* .notify-accept-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 60px;
  background-color: #2dd36f;
  padding: 5px;
  color: black;
  font-size: 12px;
  border-radius: 10px;
}

.notify-reject-badge {
  position: absolute;
  top: 5px;
  left: 70px;
  min-width: 60px;
  background-color: red;
  padding: 5px;
  color: black;
  font-size: 12px;
  border-radius: 10px;
} */

.notify-unread{
  border-bottom: 3px solid red;
}

.notify-time{
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 50px;
}