.follow-button {
  --background: var(--bs-sBg);
  color: var(--bs-secondary);
  font-family: 'Montserrat-SB';
}

.follow-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.message-button {
  --background: var(--bs-pBg);
  color: var(--bs-primary);
  font-family: 'Montserrat-B';
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.profileHeader {
  height: 30vh;
}

.profileName {
  font-family: 'Montserrat-B';
  color: var(--bs-pText);
  font-size: 25px;
}

.profileStatus {
  font-family: 'Montserrat-SB';
  color: var(--bs-primary);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-heading {
  font-family: 'Montserrat-SB';
  color: var(--bs-pText);
  font-size: 18px;
  text-transform: none;
}

.set-status {
  font-size: 20px;
  border-radius: 15px;
}

.profile-purchases {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.profile-orders {
  font-family: 'Montserrat-SB' !important;
  color: var(--bs-pText);
  font-size: 20px;
}

.profileActionContainer {
  margin: 5px 0;
}

.notifyCards-area {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.notifyCard {
  position: relative;
  border-bottom: 1px solid gray;
  width: 100%;
}

.notifyCard-content {
  height: 100%;
  margin-left: 20px;
  max-width: 80%;
}

.notifyCard-content p {
  margin: 10px 0;
  font-size: 14px;
}

.notify-date {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 50%;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notify-time {
  position: absolute;
  top: 36px;
  right: 25px;
  width: 30%;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notify-unread {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightblue;
  margin: 0 5px;
}

.notifyCards-area ion-popover {
  --backdrop-opacity: 0.5;
  --width: 97%;
  --offset-y: -100px
}

.popover-close-btn {
  background: var(--bs-pText) !important;
  color: #ffffff;
  font-family: "Montserrat-b";
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  font-size: 14px;
}