.header-interest {
  height: 60px;
  width: 100%;
}

.cards1 {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  height: 150px !important;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
}

.card1 {
  height: 150px !important;
  width: 180px;
  border-radius: 6px;
  margin-left: 17px;
  margin-top: 10px;
  margin-bottom: 100px !important;
}

.pi-toolbar {
  --background: #d3dbe1;
  height: 110px;
  text-align: center;
  font-family: "Montserrat-B";
}

.long-cta {
  --background: var(--bs-pText) !important;
  color: #ffffff;
  font-family: "Montserrat-SB";
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle1 {
  font-family: "Montserrat-SB" !important;
  font-size: 18px;
  margin-bottom: 10px !important;
  color: var(--bs-primary);
  text-align: center;
  margin: 10px !important;
  --background: var(--bs-sBg) !important;
}

.grid {
  height: 130px !important;
}

.title {
  font-family: "Montserrat-B" !important;
  font-size: 25px;
  text-align: center;
  color: var(--bs-primary);
  margin: 32px;
  --background: var(--bs-sBg) !important;
}

.top-card {
  height: 140px;
  width: 90%;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
  background: var(--bs-pBg) !important;
}

.pickInterestCard {
  box-shadow: 0 0 5px 0;
  border: 2px solid black;
  text-align: center;
  width: 150px;
  height: 175px;
  margin: 0 15px;
  transition: transform 1s;
  border-radius: 20px;
}

.scale {
  transform: rotateY(360deg) scale(0.8);
}

.tick-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 0 20px 0 0;
  background-color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.2;
}